In [21]:
import requests
import pandas
from bs4 import BeautifulSoup

r = requests.get("http://www.pyclass.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/", headers={'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'})
c = r.content

soup = BeautifulSoup(c, "html.parser")

all = soup.find_all("div", {"class":"propertyRow"})

# all[0].find("h4", {"class": "propPrice"}).text.replace("\n", "").replace(" ", "")

l = []

for item in all:
    d = {}
    d["Address"] = item.find_all("span", {"class", "propAddressCollapse"})[0].text
    d["Locality"] = item.find_all("span", {"class", "propAddressCollapse"})[1].text
    d["Price"] = item.find("h4", {"class", "propPrice"}).text.replace("\n", "").replace(" ", "")
    try:
        d["Bedrooms"] = item.find("span", {"class", "infoBed"}).find("b").text
    except:
        d["Bedrooms"] = None
    
    try:
        d["Bathrooms"] = item.find("span", {"class", "infoValueFullBath"}).find("b").text
    except:
        d["Bathrooms"] = None
    
    try:
        d["SqFt"] = item.find("span", {"class", "infoSqFt"}).find("b").text
    except:
        d["SqFt"] = None
    
    try:
        d["Halfbath"] = item.find("span", {"class", "infoValueHalfBath"}).find("b").text
    except:
        d["Halfbath"] = None
        
    for column_group in item.find_all("div", {"class": "columnGroup"}):
        for feature_group, feature_name in zip(column_group.find_all("span", {"class", "featureGroup"}), column_group.find_all("span", {"class", "featureName"})):
            if "Lot Size" in feature_group.text:
                d["Lot Size"] = feature_name.text.replace(",", "")
                
    l.append(d)

In [23]:
df = pandas.DataFrame(l)

df

,Address,Bathrooms,Bedrooms,Halfbath,Locality,Lot Size,Price,SqFt
0,0 Gateway,None,None,None,"Rock Springs, WY 82901",NaN,"$725,000",None
1,1003 Winchester Blvd.,4,4,None,"Rock Springs, WY 82901",0.21 Acres,"$452,900",None
2,600 Talladega,3,5,None,"Rock Springs, WY 82901",NaN,"$396,900","3,154"
3,3239 Spearhead Way,3,4,1,"Rock Springs, WY 82901",Under 1/2 Acre,"$389,900","3,076"
4,522 Emerald Street,3,3,None,"Rock Springs, WY 82901",Under 1/2 Acre,"$254,000","1,172"
5,1302 Veteran's Drive,2,4,None,"Rock Springs, WY 82901",0.27 Acres,"$252,900","1,932"
6,1021 Cypress Cir,3,4,None,"Rock Springs, WY 82901",Under 1/2 Acre,"$210,000","1,676"
7,913 Madison Dr,2,3,None,"Rock Springs, WY 82901",Under 1/2 Acre,"$209,000","1,344"
8,1344 Teton Street,2,3,None,"Rock Springs, WY 82901",Under 1/2 Acre,"$199,900","1,920"
9,4 Minnies Lane,2,3,None,"Rock Springs, WY 82901",2.02 Acres,"$196,900","1,664"

In [24]:
df.to_csv("Output.csv")